
.quizlist a:hover {
	text-decoration: none;
}

.quizlist {
	width: 25%;
	margin-left: 42.5%;
}

.card-body {
	height: 150px;
}

.login {
	align-items: center;
	height: 70vh;
	display: grid;
	justify-content: center

}

body {
	background: #1c92d2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Poppins', sans-serif;

}

.questionlist {
	margin-top: 5%;
	margin-left: 30%;
}

.infolist {
	margin-top: 5%;
	margin-left: 20%;
	width: 50%;
}

.adminlist {
	margin-top: 5%;
	margin-left: 30%;
	width: 20%;
	text-align: center;
}

td, th {

	padding-left: 0.8em !important;
}

.answeredlist {
	margin-top: 5%;
	margin-left: 30%;
	width: 30%;
}
}



